@import './mixins';

.text-primary {
  color: $primaryColor !important;
}

.bg-yellow {
  background-color: #f1c204 !important;
}

.bg-primary {
  background-color: $primaryColor !important;
}

.btn-primary {
  background-color: $primaryColor !important;
}

.badge-primary {
  background-color: $primaryColor !important;
}

.bg-black {
  background-color: #000 !important;
}
