@import './mixins';

.text-primary {
  color: $primaryColor !important;
}

a.text-primary {
  &:hover {
    color: $primaryColor !important;
  }
}

.bg-yellow {
  background-color: #f1c204 !important;
}

.bg-primary {
  background-color: $primaryColor !important;
}

.btn-primary {
  background-color: $primaryColor !important;
}

.badge-primary {
  background-color: $primaryColor !important;
}

.bg-black {
  background-color: #000 !important;
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.btn-google {
  background-color: #db4437;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
