@import './mixins';

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: #000;
  color: #fff;
  .navbar-brand {
    img {
      max-width: 110px;
    }
  }
  .nav-item {
    .nav-link {
      font-weight: 600;
      color: #fff !important;
    }

    .btn {
      padding: 10px 20px;
      margin: 0;
      font-weight: 500;
      background-color: #fff !important;
    }
  }
}

.top-space {
  height: $headerHeight;
}
