.signupheader {
  background-color: #00000087;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 15px 15px;
  img.logoimg {
    max-width: 250px;
  }
}

.loginbtns {
  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
  }
}

.signupwrapper {
  padding-top: 90px;
  padding-bottom: 15px;
  min-height: 100vh;
}

.login-box {
  background-color: #00000070;

  form {
    > * {
      position: relative;

      > i {
        position: absolute;
        left: 17px;
        font-size: 14px;
        top: 50%;
        transform: translateY(-50%);
      }

      > input:not([type='checkbox']) {
        height: auto;
        padding: 10px 10px 10px 43px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 0;
      }
    }
  }
}

.checkbox {
  position: relative;
  padding-left: 30px;
  > input {
    position: absolute;
    left: 0;
    top: 6px;
    width: 16px;
    height: 16px;
  }
}
