// Your custom styles
@import './mixins';
@import './colors';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: $themefont;
  font-size: 14px;
  line-height: normal;
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

.slick-slide {
  > div {
    outline: 0;
    > div {
      outline: 0;
    }
  }
}

.slick-prev,
.slick-next {
  z-index: 1;
  &::before {
    color: $primaryColor;
    font-size: 33px;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 500;
}

h5,
.h5 {
  font-weight: bold;
}

.container {
  max-width: 1280px;
}

/* Header Start */
@import './header';
/* Header end */

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-overlay {
  position: relative;
  > * {
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.3;
    background-color: #000;
  }
}

// Top banner
#bannerslider,
#bannerslider3 {
  > [class*='carousel-control'] {
    width: 80px;
    > span[class*='carousel-control'] {
      height: 50px;
      width: 50px;
    }
  }

  .carousel-item {
    div {
      width: 100%;
      padding-top: 150px;
      padding-bottom: 250px;
    }
  }

  + .position-absolute {
    top: 300px;
    left: 50%;
    z-index: 9;
    width: 93%;
    max-width: 500px;
    transform: translateX(-50%);
  }
}

.search-form {
  display: flex;
  > input {
    border-radius: 0;
    font-size: 14px;
    padding: 10px 15px;
    height: auto;
    border: 0;
  }
  > .btn1 {
    margin: 0;
    color: #ffff;
    font-weight: 500;
    padding: 10px 15px;
    border: 0 !important;
    background-color: $primaryColor;
  }
}

@media (max-width: 768px) {
  #bannerslider,
  #bannerslider3 {
    + .position-absolute {
      top: 490px;
    }
  }
}
// Top banner end

// Four Boxes start
.four-boxes {
  margin-top: -100px;
  padding-bottom: 40px;
  position: relative;
  z-index: 9;
}

.custom-card-box {
  position: relative;
  overflow: hidden;
  padding: 25px 25px !important;
  background-color: #000;
  color: #fff;
  text-align: center;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    height: 5px;
    width: 100%;
    background: linear-gradient(
      -144deg,
      #{$primaryColor} 15%,
      #{$secondaryColor} 85%
    );
  }

  > .icon {
    font-size: 35px;
    margin-bottom: 12px;
  }

  > .icon-img {
    height: 35px;
    width: 100%;
    display: block;
    filter: invert(1);
    margin-bottom: 12px;
    object-fit: contain;
  }

  > h5 {
    position: relative;
    line-height: 37px;
    font-size: 20px;
    margin-bottom: 16px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      max-width: 50px;
      margin: auto;
      height: 2px;
      background: linear-gradient(
        -144deg,
        #{$secondaryColor} 15%,
        #{$primaryColor} 85%
      );
    }
  }

  > a.hover {
    position: absolute;
    height: calc(100% - 5px);
    width: 100%;
    background-color: $primaryColor;
    color: #fff;
    left: 0;
    top: 100%;
    padding: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 1s;
    a {
      color: #fff;
      font-weight: 600;
    }
  }

  &:hover {
    > .hover {
      top: 5px;
      transition: 1s;
    }
  }
}
// Four Boxes end

// About image section start
.about-section {
  h2 {
    font-size: 46px;
  }
  p {
    font-size: 17px;
    line-height: 24px;
  }
}
.about-image {
  position: relative;
  padding: 50px 50px 50px 0px;
  > img {
    width: 100%;
    position: relative;
  }
  &::before {
    content: '';
    width: calc(100% - 50px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border: 9px solid $primaryColor;
  }
}
// About Image section end

.sub-title {
  position: relative;
  padding-left: 35px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  color: $primaryColor;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    width: 30px;
    background-color: $primaryColor;
    transform: translateY(-50%);
  }
}

.sub-title1 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  &::before,
  &::after {
    content: '';
    width: 20px;
    position: absolute;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primaryColor;
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.training-programs {
  background-color: #000;
  color: #fff;
}

.programs-slider-wrapper {
  overflow: hidden;
}

.programs-slider {
  width: 160%;
  position: relative;
  left: -30%;

  .slick-slider {
    padding-bottom: 20px;
    .slick-dots {
      bottom: 0;
    }
  }

  .position-relative {
    padding: 20px;
    overflow: hidden;

    &:hover {
      .position-absolute {
        bottom: 40px;
        transition: 1s;
        opacity: 1;
      }
    }

    .position-absolute {
      background: linear-gradient(-144deg, #fcc900 15%, #ff0000 85%);
      color: #fff;
      padding: 15px;
      width: calc(100% - 100px);
      left: 50%;
      transform: translateX(-50%);
      bottom: -100px;
      opacity: 0;
      transition: 1s;
      display: flex;
      justify-content: space-between;
      > a {
        color: #fff;
        font-size: 58px;
        line-height: 58px;
      }
    }
  }

  .slick-dots li button:before {
    font-size: 20px;
    color: $primaryColor;
  }
}

// trainer start

.trainers {
  background-color: #000;
  color: #fff;
}

.trainer {
  position: relative;
  margin-bottom: 60px;
  > .hover {
    position: absolute;
    text-align: center;
    color: #000;
    background-color: #fff;
    bottom: -40px;
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    > .desc {
      height: 0;
      font-size: 14px;
      overflow: hidden;
      transition: 0.5s;
    }
  }
  &:hover {
    .hover {
      > .desc {
        height: 150px;
        transition: 0.5s;
        display: block;
      }
    }
  }
}

.social-links {
  a {
    color: #000;
    display: inline-block;
    padding: 10px;
    &:hover {
      color: $primaryColor;
    }
  }
}
// trainer end

// testimonals start
.testimonials-section {
  background-image: url(../img/testimonial-bg.png);
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.testimonals-slider {
  p {
    font-size: 20px;
    font-weight: 500;
    max-width: 850px;
    margin: auto;
  }
  .avatar {
    position: relative;
    width: 100px;
    margin: auto;
    margin-top: 35px;

    > .img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;
    }
    > .quote {
      position: absolute;
      left: -24px;
      top: -13px;
    }
  }
}
// testimonials end

// blog slider start
.blog-slider {
  a.h5 {
    color: #000;
    margin-bottom: 15px;
    &:hover {
      color: $primaryColor;
    }
  }

  img.w-100 {
    height: 200px;
    object-fit: cover;
  }

  .sub-title {
    font-size: 14px;
  }

  a.read-more {
    color: #000;
    display: block;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 15px;
      width: 15px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $primaryColor;
    }
    &:hover {
      color: $primaryColor;
    }
  }
}
// blog slider end

/* Footer start */
@import './footer';
/* Footer end */
