@import './mixins';

.search-nav {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;

    > a {
      display: block;
      position: relative;
      font-weight: 600;
      font-size: 12px;
      line-height: normal;
      color: #fff !important;
      padding: 10px;

      &:not(:hover) {
        &::before {
          display: none;
        }
      }

      &.active {
        &::before {
          display: block;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 100%;
        max-width: 40px;
        background-color: $primaryColor;
      }
    }
  }
}

.scaleup {
  transition: 0.5s;
  transform: scale(1, 1);
  &:hover {
    transition: 0.5s;
    transform: scale(1.05, 1.05);
  }
}

.customcard1 {
  position: relative;
  padding: 25px;
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    background-color: #000;
  }
  > * {
    position: relative;
  }
  .btn {
    border-radius: 0;
    background-color: $primaryColor;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.about-section2 {
  h2 {
    font-size: 46px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
  }

  .two-images {
    > img:first-child {
      max-width: 90%;
      display: block;
      margin-left: auto;
    }

    > img:last-child {
      max-width: 90%;
      margin-top: -120px;
    }
  }
}

// Trainer start
.trainer2 {
  text-align: center;
  background-color: #fff;
  color: #000;
  > img {
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #fff;
  }
}
// Trainer end

// testimonals-slider1 start
.testimonals-slider1 {
  .avatar {
    position: relative;
    width: 100px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 15px;
    object-fit: cover;
    > img {
      width: 100%;
      height: 100px;
      position: relative;
      border-radius: 50%;
    }
    > i {
      position: absolute;
      top: -12px;
      left: 10px;
      font-size: 29px;
      color: $primaryColor;
    }
  }

  p {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
  }

  .raiting {
    color: gold;
    font-size: 16px;
  }

  .slick-slide {
    padding: 20px 15px;
  }
}
// testimonals-slider1 end

// training-programs2 start
.training-programs2 {
  background-color: #000;
  color: #fff;
}
// training-programs2 end

// blog-slider1 start
.blog-slider1 {
  .slide {
    padding: 20px 15px;

    > img {
      height: 200px;
      object-fit: cover;
    }

    > div {
      position: relative;
      background-color: #fff;
      max-width: calc(100% - 26px);
      margin: auto;
      margin-top: -60px;
      transition: 0.5s;
      &:hover {
        margin-top: -80px;
        transition: 0.5s;
      }
    }

    a.h5 {
      color: #000;
      display: block;
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      &:hover {
        color: $primaryColor;
      }
    }

    a.read-more {
      font-weight: 500;
      color: #000;
      &:hover {
        color: $primaryColor;
      }
    }
  }
}
// blog-slider1 end
